<div class="rvt-header-global">
  <div class="rvt-container rvt-container--center rvt-container--junior">
    <div class="rvt-header-global__inner">
      {% include "components/lockup.njk" %}
      
      <button
        class="rvt-header-global__menu-toggle rvt-hide-lg-up"
        data-global-menu-toggle aria-expanded="false"
      >
        Menu
      </button>
      {% include "components/global-nav.njk" %}
      
      <button class="rvt-header-global__search-toggle">
        {% include "icons/rvt-icon-magnifying-glass.svg" %}
        <span class="rvt-sr-only">Toggle Search Box</span>
      </button>
      <!-- Search implmentation here -->
      
    </div><!-- end inner wrapper -->
  </div> <!-- main rvt-container -->
</div> <!-- end global header -->