<div class="rvt-header-local">
  <span class="rvt-header-local__title">
    <a href="https://rivet.iu.edu/">Local title</a>
  </span>
  
  <ul class="rvt-header-local__menu">
    <li class="rvt-header-local__menu-item"><a href="#">Expertise</a></li>
    <li class="rvt-header-local__menu-item"><a href="#">Education</a></li>
    <li class="rvt-header-local__menu-item">
      <a href="#">Research</a>
<!--       <ul class="rvt-header-local__child-menu">
        <li>Spells</li>
        <li>Fantastic Beasts</li>
        <li>Dark Arts</li>
        <li>Flying</li>
        <li>History of Magic</li>
        <li>Charms</li>
      </ul> -->
    </li>
    <li class="rvt-header-local__menu-item"><a href="#">Campuses</a></li>
    <li class="rvt-header-local__menu-item"><a href="#">Departments</a></li>
    <li class="rvt-header-local__menu-item">
      <a href="#">News</a>
<!--       <ul class="rvt-header-local__child-menu">
        <li>Child item 1</li>
        <li>Child item 2</li>
        <li>Child item 3</li>
        <li>Child item 4</li>
        <li>Child item 5</li>
      </ul> -->
    </li>
  </ul>
</div>