<nav class="rvt-nav-tree" aria-label="Main menu" data-sidenav>
  <ul class="rvt-nav-tree__list" data-sidenav-list>
    <li class="rvt-nav-tree__item">
      <a href="#" class="rvt-nav-tree__link">Section nav one</a>
    </li>
    <li class="rvt-nav-tree__item">
      <a href="#" class="rvt-nav-tree__link">Section nav two</a>
      <button href="#" class="rvt-nav-tree__icon" data-sidenav-toggle>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
        </svg>
      </button>
      <ul class="rvt-nav-tree__list" data-sidenav-list>
        <li class="rvt-nav-tree__item">
          <a href="#" class="rvt-nav-tree__link">Level two</a>
          <button class="rvt-nav-tree__icon" data-sidenav-toggle>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
            </svg>
          </button>
          <ul class="rvt-nav-tree__list" data-sidenav-list>
            <li class="rvt-nav-tree__item">
              <a href="#" class="rvt-nav-tree__link">Level three</a>
            </li>
          </ul>
        </li>
        <li class="rvt-nav-tree__item">
          <a href="#" class="rvt-nav-tree__link">
            <span>Level two</span>
          </a>
          <button class="rvt-nav-tree__icon" data-sidenav-toggle>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
            </svg>
          </button>
          <ul class="rvt-nav-tree__list" data-sidenav-list>
            <li class="rvt-nav-tree__item">
              <a href="#" class="rvt-nav-tree__link">Level three</a>
            <li class="rvt-nav-tree__item">
              <a href="#" class="rvt-nav-tree__link">Level three</a>
            </li>
            <li class="rvt-nav-tree__item">
              <a href="#" class="rvt-nav-tree__link">Level three</a>
            </li>
            <li class="rvt-nav-tree__item">
              <a href="#" class="rvt-nav-tree__link">Level three</a>
            </li>
          </ul>
        </li>
        <li class="rvt-nav-tree__item">
          <a href="#" class="rvt-nav-tree__link">Level two</a>
        </li>
        <li class="rvt-nav-tree__item">
          <a href="#" class="rvt-nav-tree__link">
            <span>Level two</span>
          </a>
          <button class="rvt-nav-tree__icon" data-sidenav-toggle>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
            </svg>
          </button>
          <ul class="rvt-nav-tree__list" data-sidenav-list>
            <li class="rvt-nav-tree__item">
              <a href="#" class="rvt-nav-tree__link">
                <span>Level three</span>
              </a>
              <button class="rvt-nav-tree__icon" data-sidenav-toggle>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
                </svg>
              </button>
              <ul class="rvt-nav-tree__list" data-sidenav-list>
                <li class="rvt-nav-tree__item">
                  <a href="#" class="rvt-nav-tree__link">Level four</a>
                </li>
                <li class="rvt-nav-tree__item">
                  <a href="#" class="rvt-nav-tree__link">
                    <span>Level four</span>
                  </a>
                  <button class="rvt-nav-tree__icon" data-sidenav-toggle>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
                    </svg>
                  </button>
                  <ul class="rvt-nav-tree__list" data-sidenav-list>
                    <li class="rvt-nav-tree__item">
                      <a href="#" class="rvt-nav-tree__link">Level five</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="rvt-nav-tree__item">
          <a href="#" class="rvt-nav-tree__link">Level two</a>
        </li>
      </ul>
    </li>
    <li class="rvt-nav-tree__item">
      <a href="#" class="rvt-nav-tree__link">Section nav three</a>
    </li>
    <li class="rvt-nav-tree__item">
      <a href="#" class="rvt-nav-tree__link">Section nav four</a>
    </li>
  </ul>
</nav>