.#{$prefix}-header-local {
  background-color: $color-white;
  position: relative;
  padding-top: $sm;
  padding-bottom: $sm;
  border-bottom: 1px solid $color-black--150;

  /**
   * Mobile menu toggle
   */

  &__menu-toggle {
    position: absolute;
    top: $sm * .65;
    right: $md;
    width: $lg;
    height: $lg;
    border-radius: 999rem;
    background: none;
    border: $xxs/2 solid $color-black--200;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0;

    svg {
      width: $sm;
      height: $sm;
    }
  }

  &__menu-toggle:hover {
    background-color: $color-blue;
    border-color: $color-blue;
    color: $color-white;
  }

  &__menu-toggle[aria-expanded="true"] {
    background-color: $color-blue;
    color: $color-white;
    border-color: $color-blue;

    svg {
      transform: rotate(180deg);
    }
  }

  &__title {
    font-size: $ts-18;
    font-weight: $font-weight-bold;
    line-height: 1.1;
    display: block;
    padding-right: $xxl;

    a {
      color: $color-black;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .#{$prefix}-header-local {
    padding-top: $sm;
    padding-bottom: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .06);
    border-bottom: none;
    border-top: 1px solid $color-black--150;

    &__title {
      font-size: $ts-20;
      padding-right: $lg;
      padding-bottom: $sm;
    }
  }
}
