.#{$prefix}-lockup {
  display: inline-flex;
  align-items: center;
  font-family: 'BentonSansCond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: $color-black;
  flex-shrink: 0;

  &__title {
    font-size: $ts-14;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: $font-weight-bold;
  }

  &__subtitle {
    text-transform: uppercase;
    line-height: 1.1;
    font-size: $ts-12;
  }

  &__tab {
    align-items: center;
    background-color: $color-crimson;
    color: $color-white;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    // Magic numbers to get the display right.
    width: 1.75rem;
    height: 2.125rem;
  }

  &__trident {
    flex-shrink: 0;
    flex-grow: 1;
    // Magic numbers to get the display right.
    width: 1.1875rem;
    height: 1.4375rem;
  }

  &__body {
    margin-left: $xs;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .#{$prefix}-lockup {
    &__title {
      font-size: $ts-20;
    }

    &__subtitle {
      font-size: $ts-14;
    }

    &__tab {
      width: 2.25rem;
      height: 2.75rem;
    }

    &__trident {
      width: $md;
      height: 1.875rem;
    }

    &__body {
      margin-left: $sm;
    }
  }
}
