<div class="rvt-footer-module-2">
  <div class="rvt-container rvt-container--center rvt-container--junior">
    <div class="rvt-grid">
      <div class="rvt-grid__item-4-md-up">
        <h2 class="rvt-text-bold rvt-m-bottom-md rvt-m-top-md rvt-m-top-none-md-up">Popular Topics</h2>
        <ul class="rvt-footer-module-2__topics">
          <li><a href="#">ApplyMD</a></li>
          <li><a href="#">MedNet</a></li>
          <li><a href="#">Residency</a></li>
          <li><a href="#">ApplyPhD</a></li>
          <li><a href="#">Fact Sheet</a></li>
          <li><a href="#">Alumni</a></li>
        </ul>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <h2 class="rvt-text-bold rvt-m-bottom-md rvt-m-top-md rvt-m-top-none-md-up">Contact</h2>
        <p class="rvt-footer-module-2__contact-title">Indiana University School of Medicine</p>
        <address>
          340 West 10th Street<br />
          Fairbanks Hall, Suite 6200<br />
          Indianapolis, IN 46202-3082
        </address>
        <a href="tel:000-000-0000">000-000-0000</a>
        <br />
        <a href="#">iusm@iu.edu</a>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <h2 class="rvt-text-bold rvt-m-bottom-md rvt-m-top-md rvt-m-top-none-md-up">Connect with US!</h2>
        <a href="#" title="Facebook - IU School of Medicine" class="rvt-footer-module-2__social-icon">
          {% include "icons/facebook-icon.svg" %}
        </a>
        <a href="#" title="LinkedIn - IU School of Medicine" class="rvt-footer-module-2__social-icon">
          {% include "icons/linkedin-icon.svg" %}
        </a>
        <a href="#" title="Twitter - IU School of Medicine" class="rvt-footer-module-2__social-icon">
          {% include "icons/twitter-icon.svg" %}
        </a>
        <a href="#" title="Instagram - IU School of Medicine" class="rvt-footer-module-2__social-icon">
          {% include "icons/instagram-icon.svg" %}
          <span class="rvt-sr-only">Instagram</span>
        </a>
        <h2 class="rvt-text-bold rvt-m-bottom-md rvt-m-top-md">Subscribe to the Newsroom</h2>
        <form>
          <div class="iusm-footer-subscribe">
            <label for="search" class="rvt-sr-only">Search</label>
            <div class="rvt-input-group">
              <input class="rvt-input-group__input" type="text" id="search">
              <div class="rvt-input-group__append">
                <button class="rvt-button iusm-button--subtle">Subscribe</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div><!-- end container -->
</div>