<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://assets.uits.iu.edu/css/rivet/latest/rivet.min.css">
  <link rel="stylesheet" href="./css/rivet-next-components.css">
</head>
<body>
  <header>
    {% include "components/global-header.njk" %}
    {% if sectionPage %}
    {% include "components/local-header.njk" %}
    {% endif %}
  </header>
  <main id="main-content">
    <div class="rvt-container rvt-container--center rvt-container--junior">
      <h1 class="rvt-text-bold rvt-ts-23 rvt-m-top-xxl">Contents</h1>
      <ul>
        <li>
          <a href="./">Top-level global navigation example</a>
        </li>
        <li>
          <a href="./local-property.html">Local property navigation exapmple</a>
        </li>
      </ul>
    </div>
    {{ layoutContent | safe }}
  </main>
  <footer>
    {% include "components/footer/footer.njk" %}
  </footer>
  <script src="https://assets.uits.iu.edu/javascript/rivet/latest/rivet.min.js"></script>
  <script src="./js/rivet-next-components.js"></script>
  <script>
    RivetNext.toggle.init();
    
    document.addEventListener('rvt:toggleHide', event => {
      let preventEvent = false;
      if (!preventEvent) {
        console.log(event.detail.elementId)
      } else {
        event.preventDefault();
        console.log('nope, cancelled')
      }
    })
  </script>
</body>
</html>