.#{$prefix}-footer-module-1 {
  .rvt-container {
    padding: 0;
  }

  &__info {
    background-color: $color-black--50;
  }
  
  &__contact {
    align-items: center;
    background-color: $color-crimson;
    color: $color-white;
    display: flex;
    position: relative;
    
    a {
      color: $color-white;
      font-weight: bold;
      text-decoration: none;
    }
    
    a:hover,
    a:focus{
      text-decoration: underline;
    }
  }
  
  &__info,
  &__contact {
    padding: $xl;
  }
  
  &__address {
    font-style: normal;
  }
  
  &__inline-field {
    display: block;
  }
  
  &__inline-field--emphasis {
    display: block;
    font-weight: bold;
  }
  
  &__envelope {
    margin-right: $sm;
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .#{$prefix}-footer-module-1 {
    position: relative;

    &:before {
      background-color: $color-black--50;
      content: '';
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 60%;
      z-index: -1;
    }
    
    &:after {
      background-color: $color-crimson;
      content: '';
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;
      width: 40%;
      z-index: -2;
    }
    
    &__info {
      position: relative;
    }
    
    &__inline-field {
      display: inline-block;
      line-height: 1.2;
      padding: 0 $xs;
      
      &:first-child {
        padding-left: 0;
      }
    }

    &__inline-field + &__inline-field,
    &__address + &__inline-field {
      border-left: 2px solid $color-black;
    }
    
    &__address,
    &__address + &__inline-field {
      display: inline-block;
    }
    
    &__marker {
      vertical-align: text-top;
    }
  }
}