.#{$prefix}-header-global {
  background-color: $color-white;
  position: relative;
  padding-top: $sm;
  padding-bottom: $sm;
  border-top: $xxs solid $color-crimson;
  border-bottom: 1px solid $color-black--150;

  &__skip-link {
    position: fixed;
    top: -6rem;
    padding: $xs;
    z-index: 999;

    &:focus {
      top: 0;
      background-color: $color-white;
    }
  }

  &__inner {
    position: relative;
  }

  // TODO: Refactor this repetitive stuff

  &__menu-toggle,
  &__search-toggle,
  &__more-toggle {
    background: none;
    border: $xxs/2 solid $color-black--200;
    display: inline-flex;
    align-items: center;
    font-size: $ts-14;
    height: $lg;
    border-radius: $xxs;

    &:focus {
      outline: $xxs/2 solid $color-blue;
      outline-offset: $xxs/2;
    }
  }

  &__menu-toggle svg,
  &__search-toggle svg,
  &__more-toggle svg {
    width: $sm * .9;
    height: $sm * .9;
  }

  &__menu-toggle[aria-expanded="true"],
  &__search-toggle[aria-expanded="true"] {
    background-color: $color-blue;
    color: $color-white;
    border-color: $color-blue;
  }

  &__menu-toggle {
    position: absolute;
    right: $xl;
  }

  &__menu-toggle span {
    font-size: $ts-12;
  }

  &__menu-toggle:hover,
  &__search-toggle:hover,
  &__more-toggle:hover {
    background-color: $color-blue;
    border-color: $color-blue;
    color: $color-white;
  }

  &__search-toggle {
    margin-left: $xs;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__menu-list {
    list-style-type: none;
    padding: 0;
  }

  &__menu-item a {
    color: $color-black;
    text-decoration: none;
    font-size: $ts-14;
  }

  &__menu-item > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $color-white;
  }

  &__search-box {
    position: relative;
    margin-top: $sm;
    background-color: $color-black--050;
    padding: $sm $md;
    border-top: 1px solid $color-black--150;

    /**
     * This makes the mobile menu flush to the sides of small screens. Use
     * this code to make it break out of the rivet container on small screens.
     */
    left: -$md; // Size of the Rivet .container padding.
    width: calc(100% + 3rem);

    /**
     * This overrides the padding on the header wrapper when the
     * mobile menu is open.
     */

    margin-bottom: -$sm;
  }

  &__search-box input[type="text"] {
    background-color: $color-white;
  }

  &__search-box[aria-hidden="true"] {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .#{$prefix}-header-global {
    border-bottom: none;
    padding-top: $md;
    padding-bottom: $md;

    &__inner {
      display: flex;
      align-items: center;
      position: relative;
      flex-wrap: wrap;
    }

    &__more-toggle {
      border: none;
      font-size: $ts-14;
    }

    &__search-toggle {
      position: relative;
      top: auto;
      right: auto;
      border-color: transparent;
    }

    &__search-box {
      position: absolute;
      top: $xl;
      left: auto;
      right: 0;
      margin: 0;
      padding: $sm;
      box-shadow: $shadow-base;
      background-color: $color-white;
      z-index: 999;
    }
  }
}
