.#{$prefix}-header-local {
  position: relative;
  padding-top: $sm;
  padding-bottom: $sm;
  
  /**
   * Mobile menu toggle
   */
  &__menu-toggle {
    position: absolute;
    top: $xs;
    right: 1.5rem;
    width: $lg;
    height: $lg;
    border-radius: 999rem;
    background: none;
    border: 2px solid $color-black--200;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    svg {
      width: $sm;
      height: $sm;
    }
  }
  
  &__title {
    font-size: $ts-20;
    font-weight: 700;
    line-height: 1.1;
    display: block;
    padding-right: $xxl;

    a {
      color: $color-black;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .#{$prefix}-header-local {
    padding-top: $xs;
    
    &__inner {
      align-items: center;
      display: flex;
    }

    &__title {
      font-size: $ts-23;
      max-width: 320px;
      flex-basis: 320px;
      padding-right: $md;
    }
  }
}
