.#{$prefix}-nav-menu {
  position: relative;
  background-color: $color-white;
  margin-top: 1rem;

  /**
   * This makes the mobile menu flush to the sides of small screens. Use
   * this code to make it break out of the rivet container on small screens.
   */
  left: -1.5rem; // Size of the Rivet .container padding.
  width: calc(100% + 3rem);

  /**
   * This overrides the padding on the header wrapper when the
   * mobile menu is open.
   */

  margin-bottom: -$sm;

  &__list {
    flex-basis: 100%;
    padding-left: 0;
    list-style-type: none;
  }

  &__list[hidden] {
    display: none;
  }

  &__item {
    align-items: center;
    border-top: 1px solid $color-black--150;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0; // resets Rivet default margin-top
    background-color: $color-black--050;
  }

  &__item--more {
    display: none;
  }

  &__link {
    flex-grow: 1;
    padding: $sm*.825 $md;
    font-size: $ts-14;
    text-decoration: none;
    color: $color-black;

    &:focus,
    &:hover {
      text-decoration: underline;
      color: $color-blue;
    }
  }

  /**
   * Child menu toggle styles
   */

  &__toggle {
    align-items: center;
    background: transparent;
    border-left: 1px solid $color-black--200;
    border-top: none;
    border-right: none;
    border-bottom: none;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-top: $sm;
    padding-right: $lg;
    padding-bottom: $sm;
    padding-left: $md;
    flex-shrink: 0;

    svg {
      width: $sm;
      height: $sm;
    }

    &:focus {
      outline: .125rem solid $color-blue;
      outline-offset: .125rem;
    }

    &[aria-expanded="true"] {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__link,
  &__icon {
    &:focus {
      z-index: 1;
    }
  }

  // TODO: Refactor this bit to make it less repetitive

  // > .rvt-nav-menu__list > .rvt-nav-menu__item {
  //   > .rvt-nav-menu__list > .rvt-nav-menu__item {
  //     > .rvt-nav-menu__link {
  //       text-indent: 40px;
  //       background-color: $color-black--100;
  //     }
  //   }
  // }

  &__list--child-menu[aria-hidden="true"] {
    display: none;
  }

  &__list--child-menu &__item {
    background-color: $color-black--100;
    border-color: $color-black--200;
    text-indent: $lg;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .#{$prefix}-nav-menu {
    display: block;
    position: relative;
    left: auto;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;

    & > &__list {
      display: flex;
      flex-direction: row;
    }

    &__item {
      background-color: transparent;
      border-top: none;
      position: relative;
      padding: 0;
      margin-left: 0;
    }

    & > &__list > &__item:not(:first-child) {
      margin-left: $sm * .825;
    }

    &__item &__link {
      padding: 0;
      // HACK: Come back to fix this specificity problem
      text-indent: 0 !important;
    }

    &__item--more {
      display: flex;
      border-left: 1px solid $color-black--200;
      padding-left: 1rem;
    }

    &__list--child-menu {
      position: absolute;
      top: $xl;
      left: 0;
      width: 240px;
      margin: 0;
      padding: $xs 0;
      box-shadow: $shadow-base;
      background-color: $color-white;
      z-index: 999;
    }

    &__list--child-right {
      left: auto;
      right: 0;
    }

    &__list--child-menu &__item {
      background-color: transparent;
    }

    &__list--child-menu &__item a {
      padding: $xs $sm;
    }

    &__list--child-menu &__item a:hover {
      background-color: $color-blue;
      color: $color-white;
      text-decoration: none;
    }

    &__list--child-menu &__link {
      background-color: transparent;
    }

    /**
     * Main child menu toggle styles
     */

    &__toggle {
      padding: 0;
      height: $md * .825;
      width: $md * .825;
      margin-left: $xxs;
      border-radius: 999rem;
      color: $color-black;
      border-left: none;
    }

    &__toggle:hover {
      background-color: $color-blue;
      color: $color-white;
    }

    &__toggle svg {
      width: $sm * .9;
    }

    /**
     * Styles for main global menu when it is behind a toggle
     * on deeper section pages.
     */

    &__secondary-toggle {
      background: none;
      border: none;
      display: inline-flex;
      font-size: $ts-14;
      align-items: center;
    }

    /**
     * TODO: This duplicates a lot of styles from the
     * normal main nav dropdown menus. Need to refactor this
     * so that it can be used here and for all other child menus.
     */

    &__secondary-menu {
      position: absolute;
      top: $lg;
      right: 0;
      width: 240px;
      margin: 0;
      padding: $xs 0;
      box-shadow: $shadow-base;
      background-color: $color-white;
      z-index: 999;
    }

    &__secondary-menu[aria-hidden="true"] {
      display: none;
    }

    &__secondary-menu &__item {
      background-color: transparent;
    }

    &__secondary-menu &__item a {
      padding: $xs $sm;
      text-decoration: none;
      font-size: $ts-14;
      display: block;
      width: 100%;
      color: $color-black;
    }

    &__secondary-menu &__item a:hover {
      background-color: $color-blue;
      color: $color-white;
      text-decoration: none;
    }

    &__secondary-menu &__link {
      background-color: transparent;
    }
  }
}
