---
permalink: deeply-nested-nav.html
title: Deeply nested sidebar
description: Demo of the navigation on an example department page
sectionPage: true
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://assets.uits.iu.edu/css/rivet/latest/rivet.min.css">
  <link rel="stylesheet" href="./css/rivet-next-components.css">
</head>
<body>
  <header>
    {% include "components/header/global-header.njk" %}
    {% if sectionPage %}
    {% include "components/header/local-header.njk" %}
    {% endif %}
  </header>
  <main id="main-content" class="rvt-p-bottom-xxl">
    <div class="rvt-container rvt-container--center rvt-container--junior rvt-m-top-xxl">
      <div class="rvt-grid">
        <div class="rvt-grid__item-8-md-up rvt-grid__item-push-4-md rvt-m-bottom-xxl">
          <h1 class="rvt-text-bold rvt-ts-32 rvt-lh-title">Contents</h1>
          <ul>
            <li>
              <a href="./">Top-level global navigation example</a>
            </li>
            <li>
              <a href="./local-property.html">Local property navigation example</a>
            </li>
            <li>
              <a href="./deeply-nested-nav.html">Deeply nested navigation example</a>
            </li>
          </ul>
          <div class="rvt-m-top-xl">
            <span class="rvt-badge rvt-badge--success">NOTE</span> 
            <h2 class="rvt-ts-md rvt-text-bold">About conditionally showing or hiding</h2>
            <p>Use of bold in the sidenav on this page is for demo purposes only.</p>
            <p>The sidenav demo on this page shows a hypothetical deeply nested page where the partent and grandparent menus are toggled open.</p>
            <p>The parent and any ancestor nested navs/lists should be expanded/open so that it's easier for a user to orient themselves when they land on a deeply-nested page.</p>
            
            <h3 class="rvt-text-bold">Using server-rendered HTML attributes</h3>
            <p>To make menus on visible on page load, set the <code>aria-expanded="true"</code> attribute on the menu toggle/button and the <code>aria-hidden="false"</code> attribute on the menu/list in your server-rendered markup.</p>
          </div>
        </div>
        <div class="rvt-grid__item-3-md-up rvt-grid__item-pull-8-md">
          <h2 class="rvt-hide-md-up rvt-m-bottom-lg">
            <span class="rvt-display-block rvt-text-uppercase rvt-ts-12">More in</span>
            <span class="rvt-display-block rvt-ts-16 rvt-text-bold">Local property title</span>
          </h2>
          {% include "components/sidenav-static.njk" %}
        </div>
      </div>
    </div>
    {{ layoutContent | safe }}
  </main>
  <footer>
    {% include "components/footer/footer.njk" %}
  </footer>
  <script src="https://assets.uits.iu.edu/javascript/rivet/latest/rivet.min.js"></script>
  <script src="./js/rivet-next-components.js"></script>
  <script>
    // Initialize Additional Javascript components
    RivetNext.toggle.init();
    RivetNext.sidenav.init();
    
    // Testing toggle show/hide custom events
    document.addEventListener('rvt:toggleHide', function(event) {
      // Change to true to test event canceling
      var preventEvent = false;
      if (!preventEvent) {
        console.log(event.detail.elementId)
      } else {
        event.preventDefault();
        console.log('nope, cancelled')
      }
    });
  </script>
</body>
</html>