---
layout: layouts/base.njk
permalink: local-property.html
title: Local property example
description: Demo of the navigation on an example department page
sectionPage: true
---
{# <img src="https://www.fillmurray.com/1200/800" alt="" style="width: 100%;"> #}