{#
  Duplicate for normal full menu for mobile. This hides on larger screens
  and is replaced by dropdown menu (see below).
#}
<nav class="rvt-nav-menu rvt-hide-lg-up" aria-label="Main menu" id="global-nav">
  <ul class="rvt-nav-menu__list">
    {% for item in navigation.main %}
      {% if item.text == "More" %}
        <li class="rvt-nav-menu__item rvt-nav-menu__item--more">
          <button href="#" class="rvt-header-global__more-toggle" data-dropdown-toggle="global-toggle-{{ loop.index }}">
            {% include "icons/rvt-icon-ellipsis.svg" %}
            <span class="rvt-m-left-xs">{{ item.text }}</span>
          </button>
          <ul class="rvt-nav-menu__list rvt-nav-menu__list--child-menu rvt-nav-menu__list--child-right" id="global-toggle-{{ loop.index }}">
            {% for sub in item.submenu %}
            <li class="rvt-nav-menu__item">
              <a href="{{ sub.link }}" class="rvt-nav-menu__link">{{ sub.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% for sub in item.submenu %}
        <li class="rvt-nav-menu__item rvt-hide-lg-up">
          <a href="{{ sub.link }}" class="rvt-nav-menu__link">{{ sub.text }}</a>
        </li>
        {% endfor %}
        
      {# logic for departments menu #}
      {%- elif item.text == "Departments" -%}
      
      <li class="rvt-nav-menu__item{% if item.current %} rvt-nav-menu__item--current{% endif %}">
        <a href="{{ item.link }}" class="rvt-nav-menu__link"{%- if item.current -%} aria-current="page"{%- endif -%}>{{ item.text }}</a>
        {%- if item.submenu -%}
        {#
          Using stock Rivet dropdowns here:
          https://rivet.iu.edu/components/navigation/dropdown/
        #}
        <button class="rvt-nav-menu__toggle" data-dropdown-toggle="global-toggle-{{ loop.index }}" aria-expanded="false">
          {%- include "icons/rvt-icon-chevron-down.svg" -%}
        </button>
        <ul
          class="rvt-nav-menu__list rvt-nav-menu__list--child-menu rvt-nav-menu__list--child-menu-mega {% if item.rightAlign %} rvt-nav-menu__list--child-right{% endif %}"
          id="global-toggle-{{ loop.index }}"
          aria-hidden="true"
        >
          {%- for sub in item.submenu -%}
          <li class="rvt-nav-menu__item rvt-nav-menu__item--mega">
            <div class="rvt-nav-menu__heading">{{ sub.text }}</div>
            <ul class="rvt-nav-menu__list rvt-nav-menu__list--child-menu">
              {%- for i in sub.items -%}
              <li class="rvt-nav-menu__item">
                <a href="{{ i.link }}" class="rvt-nav-menu__link rvt-nav-menu__link--mega">{{ i.text }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {%- endfor -%}
        </ul>
        {# End submenu logic #}
        {%- endif -%} 
      </li>
      {#
        End "Departments" logic and continue rendering all the other regular menu
        items and submenus.
      #}
      {% else %}
        <li class="rvt-nav-menu__item">
          <a href="{{ item.link }}" class="rvt-nav-menu__link">{{ item.text }}</a>
          {% if item.submenu %}
          <button
            class="rvt-nav-menu__toggle"
            data-dropdown-toggle="global-toggle-{{ loop.index }}"
            aria-expanded="false"
          >
            {% include "icons/rvt-icon-chevron-down.svg" %}
          </button>
          <ul
            class="rvt-nav-menu__list rvt-nav-menu__list--child-menu {% if item.rightAlign %} rvt-nav-menu__list--child-right{% endif %}"
            id="global-toggle-{{ loop.index }}"
            aria-hidden="true"
          >
            {% for sub in item.submenu %}
            <li class="rvt-nav-menu__item">
              <a href="{{ sub.link }}" class="rvt-nav-menu__link">{{ sub.text }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

{#
  Main menu behid a dropdown on large screens once user navigates
  to sections deeper than the top level of navigation. Using utlity classes
  here to hide on smaller screens.
#}
<nav class="rvt-nav-menu rvt-hide-lg-down">
  <button class="rvt-nav-menu__secondary-toggle" data-dropdown-toggle="secondary-menu" aria-expanded="false">
    {% include "icons/rvt-icon-menu.svg" %}
    <span class="rvt-m-left-xs">Global navigation</span>
  </button>
  <ul class="rvt-nav-menu__secondary-menu" id="secondary-menu" aria-hidden="true">
  {% for item in navigation.main %}
    {% if item.text == "More" %}
      {% for sub in item.submenu %}
      <li class="rvt-nav-menu__item"><a href="{{ sub.link }}">{{ sub.text }}</a></li>
      {% endfor %}
    {% else %}
      <li class="rvt-nav-menu__item"><a href="{{ item.link }}">{{ item.text }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>