<div class="rvt-header-local">
  <div class="rvt-container rvt-container--center rvt-container--junior">
    <div class="rvt-header-local__inner">
      <span class="rvt-header-local__title rvt-width-lg-lg-up">
        <a href="#">Medical and Molecular Genetics</a>
      </span>
      <button
        class="rvt-header-local__menu-toggle rvt-hide-lg-up"
        data-toggle="local-nav"
        aria-expanded="false"
        aria-haspopup="true"
      >
        {%include "icons/rvt-icon-chevron-down.svg" %}
        <span class="rvt-sr-only">Toggle Menu</span>
      </button>
      {% include "components/header/local-nav.njk" %}
    </div>
  </div>
</div>